<!-- Trainer Card Wrapper -->

<div
	class="flex flex-wrap">
	<!-- Card 1 -->
	{% for trainer in entry.trainers.all() %}

		{% set photo = trainer.photo.one() %}

		<div class="w-full md:w-4/12  lg:mb-0 mb-12 px-4" data-aos="flip-right">
			<div class="px-6">
				<img alt="..." src="{{photo.url}}" class="shadow-lg rounded max-w-full mx-auto" style="max-width: 250px;"/>
				<div class="pt-6 text-center">
					<h5 class="text-xl font-bold">{{trainer.fullName}}</h5>
					<p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
						{{trainer.description}}
					</p>
				</div>
			</div>
		</div>

	{% endfor %}


</div></div></section>
